<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{ page.title | default: site.title }}</title>
  <meta name="description" content="Resume of {{ site.data.resume.name }}" />
  <link rel="canonical" href="{{ site.url }}{{ site.baseurl }}{{ page.url }}" />
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/site.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" rel="stylesheet">
</head>
<body>
  <main class="container">{{ content }}</main>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111600668-1"></script>
  <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-111600668-1');
  </script>
</body>
</html>
